<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>LearnFlow</display-name>

  
  <welcome-file-list>
    <welcome-file>dashboard.jsp</welcome-file>
  </welcome-file-list>
  
  
  <!-- userController-->
  
  <servlet>
  <servlet-name>auth</servlet-name>
  <servlet-class>com.learnflow.controller.UserController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>auth</servlet-name>
  <url-pattern>/auth</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  <servlet-name>auth</servlet-name>
  <url-pattern>/logout</url-pattern>
  </servlet-mapping>
 
   <servlet-mapping>
  <servlet-name>auth</servlet-name>
  <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
  <servlet-name>auth</servlet-name>
  <url-pattern>/updateUser</url-pattern>
  </servlet-mapping>
  
  
  <!-- Action controller-->
  
  <servlet> 
  <servlet-name>action</servlet-name>
  <servlet-class>com.learnflow.controller.ActionController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>action</servlet-name>
  <url-pattern>/requestToUserAction</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>course</servlet-name>
  <servlet-class>com.learnflow.controller.CourseController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>course</servlet-name>
  <url-pattern>/addCourse</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>course</servlet-name>
  <url-pattern>/fetchInstructorCourse</url-pattern>
  </servlet-mapping>

  <!-- Categories-->
  
  <servlet>
  <servlet-name>categories</servlet-name>
  <servlet-class>com.learnflow.controller.CategoryController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>categories</servlet-name>
  <url-pattern>/categories</url-pattern>
  </servlet-mapping>



<servlet>
<servlet-name>studentActions</servlet-name>
<servlet-class>com.learnflow.controller.EnrollController</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>studentActions</servlet-name>
<url-pattern>/studentActions</url-pattern>
</servlet-mapping>

</web-app>

